/*
Core style sheet of the theme

*/



html,
body {
    background: white;
}
a {
    transition: 0.3s;
    color: #333;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #8e44ad;
}
a:focus {
    outline: none;
}
.text-center {
    text-align: center;
}
.float-left {
    float: left;
}
.float-left {
    float: right;
}
header,
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;    z-index: 99999999;
    background: white;
    transition: all .1s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: lato;
}
p {
    font-family: lato;
}
button:focus {
    outline: none;
}
#cta_area .modal {
    top: -26%;
    z-index: 9999999999;
    position: absolute;
}
.modal-backdrop.in {
    opacity: 0.5;
    z-index: 99999999;
}
.section_title {
    font-size: 48px;
    font-family: 'Oleo Script', cursive;
    position: relative;
    margin-top: 105px;
    margin-bottom: 105px;
}
#lightbox-secNav-btnClose img {
    width: 20px;
}
.section_title:after {
    position: absolute;
    content: "";
    top: 97%;
    left: 37%;
    height: 75px;
    width: 305px;
    background: url(img/header_border.png) no-repeat;
    background-size: cover;
}
.logo_area {
    height: 80px;
}
#header_area {
    height: 80px;
    background: white;
    transition: all 1s;
    border-bottom: 4px solid;
    border-color: rgba(245, 0, 120, 0.7);
}
.logo_area img {
    margin-top: 16px;
    margin-bottom: 24px;
    width: 142px;
    height: 42px;
}
.main_menu li a:hover {
    border-bottom: 4px solid #8e44ad;
    background: none;
    line-height: 53px;
}
.main_menu {
    height: 78px;
}
.main_menu li a {
    font-family: lato;
    color: #f50078;
    font-size: 18px;
    padding: 10px 26px;
    line-height: 57px;
}
.nav > li {
    position: relative;
    overflow: hidden;
}
.is-sticky #header_area {
    background: white;
    z-index: 9999999 !important;
    transition: all 1s;
    height: 80px;
}
.main_menu li:hover {

}
.main_menu li a:focus {
    border-bottom: 4px solid #8e44ad;
    background: none;
    line-height: 53px;
}
#banner_area:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    background-color: rgba(245, 0, 120, 0.3);
}
#banner_area {
    height: 90vh;
    background: url(img/banner.jpg);
    background-size: cover;
    position: relative;
    background-position: center center;
    width: 100%;
    overflow: hidden;
    padding: 0;align-items: center;display:flex
}
.navbar {
    margin-bottom: 0;
}
input:focus {
    outline-width: 0;
}
.banner_sub_title {
    font-family: 'Qwigley', cursive;
    font-size: 56px;
    color: white;
    font-weight: 400;
}
.banner_title {
    font-family: 'Oleo Script', cursive;
    font-size: 72px;
    color: white;
    line-height: 37px;
}
.banner_text {
    
    display: block;
    position: relative;
    width: 100%;
}
#countdown_area {
    background: #f50078;
    height: 115px;
}
#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    width: 80%;
    margin: 0 auto;
}
#clockdiv > div {
    display: inline-block;
}
#clockdiv div > span {
    display: inline-block;
    font-size: 53px;
    font-family: lato;
    font-weight: bold;
}
.smalltext {
    padding-top: 0;
    font-size: 18px;
    font-family: lato;
    margin-top: -9px;
    text-align: center;
    display: block;
}
.counter_part {
    padding: 6px 60px;
}
#bride_groom_area:before {
    position: absolute;
    height: 935px;
    width: 235px;
    content: "";
    background: url(img/p_left.png) no-repeat;
    opacity: 0.5;
    background-size: contain;
    left: 0%;
    top: 0%;
}
#bride_groom_area {
    position: relative;
    padding-bottom: 72px;
}
#bride_groom_area:after {
    position: absolute;
    height: 935px;
    width: 235px;
    content: "";
    background: url(img/p_right.png) no-repeat;
    opacity: 0.5;
    background-size: contain;
    right: 0%;
    top: 0%;
}
.single_person {
    padding: 15px;
}
.single_wrapper {
    overflow: hidden;
    border: #BABABA solid 2px;
    padding: 30px;
    border-radius: 3px;
    max-width: 440px;
    margin: 0 auto;
    box-shadow: 0 0 7px #BABABA;
}
img.bg_img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    border-radius: 3px;
}
h2.bg_title {
    font-family: lato;
    text-transform: uppercase;
}
h2.bg_title {
    font-family: lato;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 19px;
    font-weight: 400;
}
p.bg_body {
    font-size: 14px;
    text-align: justify;
}
.bg_social-area {
    width: 62%;
    margin: 0 auto;
}
.bg_social-area ul {
    width: 100%;
}
.bg_social-area ul li {
    list-style: none;
    display: inline-block;
    padding: 6px;
    float: left;
}
.bg_social-area ul li a {
    font-size: 19px;
}
.bg_name {
    color: #f50078;
    font-family: 'Qwigley', cursive;
    font-size: 53px;
    font-weight: 400;
}
.intro {
    background: #F45B69;
    padding: 100px 0;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
h1 {
    font-size: 2.5rem;
}
.month {
    font-size: 13px;
    text-align: center;
}
@media (min-width: 1000px) {
    #timeline .demo-card:nth-child(odd) .head::after,
    #timeline .demo-card:nth-child(even) .head::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }
    #timeline .demo-card:nth-child(odd) .head::before,
    #timeline .demo-card:nth-child(even) .head::before {
        position: absolute;
        content: "";
        width: 9px;
        height: 9px;
        background-color: #bdbdbd;
        border-radius: 9px;
        box-shadow: 0 0 2px 8px #f7f7f7;
    }
}
.demo-card:nth-child(1) {
    order: 1;
}
.demo-card:nth-child(2) {
    order: 4;
}
.demo-card:nth-child(3) {
    order: 2;
}
.demo-card:nth-child(4) {
    order: 5;
}
.demo-card:nth-child(5) {
    order: 3;
}
.demo-card:nth-child(6) {
    order: 6;
}
* {
    box-sizing: border-box;
}
#timeline {
    background: #f7f7f7;
    border-top: 1px solid rgba(191, 191, 191, 0.4);
    border-bottom: 1px solid rgba(191, 191, 191, 0.4);
}
#timeline h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 20px;
}
#timeline p.leader {
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 45px;
}
#timeline .demo-card-wrapper {
    position: relative;
    margin: auto;
}
@media (min-width: 1000px) {
    #timeline .demo-card-wrapper {
        display: flex;
        flex-flow: column wrap;
        width: 1170px;
        height: 1650px;
        margin: 0 auto;
    }
}
#timeline .demo-card-wrapper::after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid rgba(191, 191, 191, 0.4);
}
@media (min-width: 1000px) {
    #timeline .demo-card-wrapper::after {
        border-left: 1px solid #bdbdbd;
    }
}
#timeline .demo-card {
    position: relative;
    display: block;
    margin: 10px auto 80px;
    max-width: 94%;
    z-index: 2;
}
@media (min-width: 480px) {
    #timeline .demo-card {
        max-width: 60%;
        box-shadow: 0 1px 22px 4px rgba(0, 0, 0, 0.07);
    }
}
@media (min-width: 720px) {
    #timeline .demo-card {
        max-width: 40%;
    }
}
@media (min-width: 1000px) {
    #timeline .demo-card {
        max-width: 450px;
        height: 400px;
        margin: 90px;
        margin-top: 45px;
        margin-bottom: 45px;
    }
    #timeline .demo-card:nth-child(odd) {
        margin-right: 45px;
    }
    #timeline .demo-card:nth-child(odd) .head::after {
        border-left-width: 15px;
        border-left-style: solid;
        left: 100%;
    }
    #timeline .demo-card:nth-child(odd) .head::before {
        left: 491.5px;
    }
    #timeline .demo-card:nth-child(even) {
        margin-left: 45px;
    }
    #timeline .demo-card:nth-child(even) .head::after {
        border-right-width: 15px;
        border-right-style: solid;
        right: 100%;
    }
    #timeline .demo-card:nth-child(even) .head::before {
        right: 489.5px;
    }
    #timeline .demo-card:nth-child(2) {
        margin-top: 180px;
    }
}
#timeline .demo-card .head {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
}
#timeline .demo-card .head .number-box {
    display: inline;
    float: left;
    margin: 15px;
    padding: 15px;
    font-size: 26px;
    line-height: 19px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.17);
}
#timeline .demo-card .head h2 {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: inherit;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 6px;
    line-height: 1rem;
}
@media (min-width: 480px) {
    #timeline .demo-card .head h2 {
        font-size: 165%;
        line-height: 1.2rem;
    }
}
#timeline .demo-card .head h2 span {
    display: block;
    font-size: 0.6rem;
    margin: 0;
}
@media (min-width: 480px) {
    #timeline .demo-card .head h2 span {
        font-size: 0.8rem;
    }
}
#timeline .demo-card .body {
    background: #fff;
    border: rgba(191, 191, 191, 0.4) solid 1px;
    border-top: 0;
    padding: 15px;
}
@media (min-width: 1000px) {
    #timeline .demo-card .body {
        height: auto;
    }
}
#timeline .demo-card .body p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
}
#timeline .demo-card .body img {
    display: block;
    width: 100%;
}
#timeline .demo-card--step1 {
    background-color: #f50078;
}
#timeline .demo-card--step1 .head::after {
    border-color: #f50078;
}
#timeline .demo-card--step2 {
    background-color: #f50078;
}
#timeline .demo-card--step2 .head::after {
    border-color: #f50078;
}
#timeline .demo-card--step3 {
    background-color: #f50078;
}
#timeline .demo-card--step3 .head::after {
    border-color: #f50078;
}
#timeline .demo-card--step4 {
    background-color: #f50078;
}
#timeline .demo-card--step4 .head::after {
    border-color: #f50078;
}
#timeline .demo-card--step5 {
    background-color: #f50078;
}
#timeline .demo-card--step5 .head::after {
    border-color: #f50078;
}
section#party_area {
    background: white;
    padding-bottom: 87px;
    position: relative;
}
.event_img {
    padding: 0;
}
.event_img img {
    padding: 0;
    width: 100%;
    display: inline-block;
    height: 300px;
}
.single_party {
    width: 76%;
    border: #F50078 solid 2px;
    display: inline-block;
    margin-top: 50px;
}
.event_detail {
    text-align: left;
}
.party_title {
    color: #F50078;
}
.partytime p {
    margin-left: 25px;
    position: relative;
    font-size: 14px;
}
.partytime i {
    position: absolute;
    top: 27%;
}
.partylocation p {
    margin-left: 25px;
    position: relative;
    font-size: 14px;
}
.partylocation i {
    position: absolute;
    top: 49%;
}
.event_detail button {
    background: none;
    border: solid 2px;
    width: 151px;
    height: 40px;
    display: block;
    font-size: 19px;
    color: #F50078;
    transition: all 0.5s;
}
.event_detail button:hover {
    background: #8e44ad;
    border: #8e44ad solid 2px;
    width: 151px;
    height: 40px;
    display: block;
    font-size: 19px;
    color: white;
}
.modal-body iframe {
    width: 100%;
}
section#people_aprt {
    background: #EDEDED;
    padding-bottom: 87px;
}
#people_aprt .carousel-control.left {
    background-image: none;
    background-image: none;
}
#people_aprt .carousel-control.right {
    background-image: none;
    background-image: none;
}
.people_up {
    width: 100%;
    padding: 4px;
    background: white;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.people_down {
    position: absolute;
    top: 0;
    width: 10%;
    margin: 0 auto;
    opacity: 0;
}
.single_people:hover .people_down {
    position: absolute;
    background: rgba(212, 41, 119, 0.8);
    width: 195px;
    height: 206px;
    color: white;
    opacity: 1;
    transition: opacity 0.50s ease;
    padding: 10px;
    margin: 0 auto;
    left: 3.7%;
    top: 2%;
}
.single_people {
    width: 80%;
    margin: 3px auto;
    max-height: 212px;
    min-width: 210px;
    max-width: 210px;
    position: relative;
}
ul.social_icon {
    list-style: none;
}
ul.social_icon li {
    float: left;
    margin-left: 15px;
}
ul.social_icon li a {
    font-size: 21px;
    color: white;
}
#people_aprt .carousel-inner {
    position: relative;
    width: 79%;
    overflow: hidden;
    margin: 0 auto;
}
.item {
    margin: 0 auto;
}
.p_border {
    border: solid 1px;
    width: 100%;
    overflow: hidden;
    height: 100%;
    padding-top: 59px;
}
a.left.carousel-control i {
    top: 40%;
    position: absolute;
    color: black;
    font-size: 94px;
    left: -1px;
}
a.right.carousel-control i {
    top: 40%;
    position: absolute;
    color: black;
    font-size: 94px;
    right: -22px;
}
section#cta_area {
    background: url(img/video_banner.jpg);
    background-size: cover;
    min-height: 550px;
    background-position: center center;
    position: relative;
}
img.play-button {
    margin-top: 81px;
    cursor: pointer;
}
h4.cta_title {
    font-size: 67px;
    font-family: 'Qwigley', cursive;
    color: white;
    font-weight: 400;
}
#element_to_pop_up {
    display: none;
    width: 300px;
    height: 300px;
    background: white;
}
section#gallary-area {
    position: relative;
    padding-bottom: 72px;
}
section#gallary-area:before {
    position: absolute;
    height: 935px;
    width: 235px;
    content: "";
    background: url(img/p_left.png) no-repeat;
    opacity: 0.5;
    background-size: contain;
    left: 0%;
    top: 0%;
}
section#gallary-area:after {
    position: absolute;
    height: 935px;
    width: 235px;
    content: "";
    background: url(img/p_right.png) no-repeat;
    opacity: 0.5;
    background-size: contain;
    right: 0%;
    top: 0%;
}
.single_gallary {
    padding: 10px;
    border: #DADADA solid 1px;
    height: auto;
    margin-top: 10px;
    position: relative;
}
div#thumbnails {
    width: 84%;
    margin: 0 auto;
}
.ga-overlay {
    opacity: 0;
    position: absolute;
    width: 94%;
    top: 8px;
    height: 94%;
    padding: 10px;
    transition: opacity 0.50s ease;
    background: rgba(212, 41, 119, 0.8);
}
.single_gallary img {
    width: 100%;
}
.single_gallary a:hover .ga-overlay {
    opacity: 1;
    transition: opacity 0.50s ease;
}
.g_border {
    width: 100%;
    height: 100%;
    border: white solid 1px;
}
#thumbnails .col-md-4.col-sm-4.col-xs-4 {
    padding: 6px;
}
.g_border {
    width: 100%;
    height: 100%;
    border: white solid 1px;
    font-size: 34px;
    color: white;
    padding-top: 116px;
}
.contact_form {
    width: 60%;
    margin: 0 auto;
    background: url(img/form.png) no-repeat;
    background-size: 100%;
    background-position: center center;
    padding: 33px 106px 105px 105px;
    max-width: 671px;
}
.contact_form input[type="text"]:focus {
    outline: none;
    box-shadow: none;
}
.contact_form input[type="email"]:focus {
    outline: none;
    box-shadow: none;
}
.contact_form textarea:focus {
    outline: none;
    box-shadow: none;
}
.contact_form select:focus {
    outline: none;
    box-shadow: none;
}
.contact_form input[type="text"] {
    width: 100%;
    overflow: hidden;
    height: 44px;
    background: none;
    border: solid 1px;
    margin-top: 9px;
    border-radius: 5px;
    color: white;
    padding: 19px;
}
.contact_form select {
    width: 50%;
    overflow: hidden;
    height: 44px;
    background: none;
    border: solid 1px;
    margin-top: 9px;
    border-radius: 5px;
    color: white;
    padding: 10px;
}
.contact_form input[type="email"] {
    width: 100%;
    overflow: hidden;
    height: 44px;
    background: none;
    border: solid 1px;
    margin-top: 9px;
    border-radius: 5px;
    color: white;
    padding: 13px 19px;
}
.contact_form textarea {
    width: 100%;
    border-radius: 5px;
    height: 85px;
    margin-top: 20px;
    padding: 13px 19px;
    background: none;
    border: white solid 1px;
    color: white;
}
select option {
    color: black;
}
.select1 {
    width: 48% !important;
    float: left;
}
.select2 {
    width: 48% !important;
    float: right;
    margin-left: 2%;
}
.form_title {
    font-family: 'Qwigley', cursive;
    font-size: 50px;
    color: white;
    font-weight: 400;
}
.contact_form input[type="submit"] {
    width: 100%;
    line-height: 44px;
    font-size: 18px;
    color: white;
    background: #F50078;
    border: none;
    margin-top: 18px;
    border-radius: 5px;
    text-transform: uppercase;
}
section#contact_area {
    background: url(img/footer.jpg);
    background-size: cover;
    background-position: center center;
    padding-bottom: 72px;
}
.section_titles {
    font-size: 48px;
    font-family: 'Oleo Script', cursive;
    position: relative;
    margin-top: 105px;
    margin-bottom: 105px;
    color: white;
}
.section_titles:after {
    position: absolute;
    content: "";
    top: 97%;
    left: 37%;
    height: 75px;
    width: 305px;
    background: url(img/hb.png) no-repeat;
    background-size: cover;
}
.single_gift {
    width: 53%;
    border: solid 1px;
    height: 156px;
    overflow: hidden;
    margin-top: 20px;
}
img.gift_logo {
    width: 95%;
}
.single_gift {
    width: 100%;
    border: none;
    height: 156px;
    overflow: hidden;
    margin-top: 20px;
    margin: 20px auto;
    box-shadow: 0 2px 10px #474747;
}
section#gift_area {
    position: relative;
    padding-bottom: 72px;
}
.date_title {
    color: #f50078;
    font-size: 56px;
    font-family: 'Qwigley', cursive;
    font-weight: 400;
}
.footer_title {
    font-family: 'Oleo Script', cursive;
    font-size: 48px;
    line-height: 5px;
    text-transform: capitalize;
}
.footer_social li {
    float: left;
    padding: 7px;
}
.footer_social li a {
    font-size: 25px;
}
.footer_social li {
    float: left;
    padding: 12px;
}
.footer_social {
    list-style: none;
    width: 35%;
    display: block;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 22px;
    margin-bottom: 22px;
}
section#footer_area {
    background: url(img/footer.png);
    background-size: cover;
    background-position: center center;
    padding: 51px;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    section#gallary-area:after {
        display: none;
    }
    section#gallary-area:before {
        display: none;
    }
    section#bride_groom_area:before {
        display: none;
    }
    section#bride_groom_area:after {
        display: none;
    }
    .section_title:after {
        left: 30%;
    }
    .section_titles:after {
        left: 30%;
    }
    .main_menu li a {
        font-family: lato;
        color: #f50078;
        font-size: 13px;
        padding: 10px 20px;
        line-height: 56px;
    }
    .counter_part {
        padding: 6px 39px;
    }
    .single_party {
        width: 65%;
    }
    .event_img img {
        width: 100%;
    }
    .event_detail button {
        width: 100%;
        margin-bottom: 20px;
    }
    .single_people {
        width: 80%;
        margin: 3px auto;
        max-height: 141px;
        min-width: 141px;
        max-width: 141px;
        position: relative;
    }
    .people_up img {
        width: 97%;
    }
    .single_people:hover .people_down {
        position: absolute;
        background: rgba(212, 41, 119, 0.8);
        width: 137px;
        height: 137px;
        color: white;
        opacity: 1;
        transition: opacity 0.50s ease;
        padding: 10px;
        margin: 0 auto;
        left: 3.7%;
        top: 2%;
    }
    .p_border {
        padding-top: 7px;
    }
    ul.social_icon {
        margin-left: -25px;
    }
    .contact_form {
        width: 100%;
    }
    .footer_social {
        width: 48%;
    }
    .footer_social li a {
        font-size: 22px;
    }
    img.gift_logo {
        width: 78%;
    }
}
@media only screen and (max-width: 767px) {
    .ga-overlay {
        opacity: 0;
        position: absolute;
        width: 90%;
        top: 8px;
        height: 92%;
        padding: 10px;
        transition: opacity 0.50s ease;
        background: rgba(212, 41, 119, 0.8);
    }
    .navbar-toggle {
        background: #f50078;
        position: relative;
        margin-top: 24px;
    }
    .main_menu li a:hover {
        line-height: 27px;
    }
    .main_menu {
        height: auto;
    }
    .logo_area img {
        margin-top: 19px;
        margin-bottom: 24px;
        width: 144px;
        height: 36px;
        float: left;
    }
    .navbar-toggle .icon-bar {
        background: white;
    }
    .navbar-collapse {
        width: 115px;
        background: white;
        position: absolute;
        left: -88%;
        top: 91%;
        z-index: 99999;
    }
    .main_menu li a {
        line-height: 27px;
        padding: 10px 13px;
    }
    .nav > li {
        height: 50px;
    }
    .banner_text {
        padding-top: 8%;
    }
    .counter_part {
        padding: 31px 7px;
    }
    #clockdiv {
        width: 100%;
    }
    #clockdiv div > span {
        font-size: 26px;
    }
    .smalltext {
        font-size: 11px;
    }
    h4.banner_sub_title {
        font-size: 40px;
    }
    h3.banner_title {
        font-size: 36px;
        line-height: 16px;
    }
    .banner_text {
        padding-top: 68%;
    }
    .section_title:after {
        left: -6%;
    }
    .event_detail button:hover {
        width: 100%;
        margin-bottom: 20px;
    }
    section#bride_groom_area:before {
        display: none;
    }
    section#bride_groom_area:after {
        display: none;
    }
    .bg_social-area {
        width: 100%;
        margin: 0 auto;
    }
    .single_party {
        width: 100%;
    }
    .event_img img {
        width: 100%;
    }
    .partylocation i {
        top: 32%;
    }
    .partytime i {
        top: 14%;
    }
    .event_detail button {
        width: 100%;
        margin-bottom: 20px;
    }
    #people_aprt .carousel-inner {
        width: 100%;
    }
    .single_people {
        width: 100%;
        margin: 3px auto;
        max-height: 120px;
        min-width: 106px;
        max-width: 120px;
        position: relative;
    }
    a.left.carousel-control i {
        top: 40%;
        position: absolute;
        color: black;
        font-size: 65px;
        left: -31px;
    }
    .people_up img {
        width: 100%;
    }
    ul.social_icon {
        width: 100%;
        text-align: left;
        margin-left: -25px;
    }
    .p_border {
        border: solid 1px;
        width: 100%;
        overflow: hidden;
        height: 100%;
        padding-top: 0;
    }
    h4.peplename {
        font-size: 11px;
    }
    p.relation {
        font-size: 10px;
    }
    ul.social_icon li a {
        font-size: 13px;
        color: white;
    }
    ul.social_icon li {
        float: left;
        margin-left: 5px;
    }
    a.right.carousel-control i {
        top: 40%;
        position: absolute;
        color: black;
        font-size: 65px;
        right: -32px;
    }
    .single_people:hover .people_down {
        position: absolute;
        background: rgba(212, 41, 119, 0.8);
        width: 100px;
        height: 106px;
        color: white;
        opacity: 1;
        transition: opacity 0.50s ease;
        padding: 10px;
        margin: 0 auto;
        left: 3.7%;
        top: 2%;
    }
    h4.cta_title {
        font-size: 32px;
        font-family: 'Qwigley', cursive;
        color: white;
        font-weight: 400;
    }
    section#gallary-area:after {
        display: none;
    }
    section#gallary-area:before {
        display: none;
    }
    .g_border {
        width: 100%;
        height: 100%;
        border: white solid 1px;
        font-size: 34px;
        color: white;
        padding-top: 61px;
    }
    .section_titles:after {
        left: 0%;
    }
    .contact_form {
        width: 100%;
        margin: 0 auto;
        background: url(img/form.png) no-repeat;
        background-size: 100% 100%;
        background-position: center center;
        padding: 13px;
        max-width: 671px;
    }
    .form_title {
        font-family: 'Qwigley', cursive;
        font-size: 29px;
        color: white;
        font-weight: 400;
    }
    .contact_form input[type="text"] {
        width: 100%;
        overflow: hidden;
        height: 28px;
        background: none;
        border: solid 1px;
        margin-top: 9px;
        border-radius: 5px;
        color: white;
        padding: 9px;
        font-size: 11px;
    }
    .contact_form input[type="email"] {
        width: 100%;
        overflow: hidden;
        height: 28px;
        background: none;
        border: solid 1px;
        margin-top: 9px;
        border-radius: 5px;
        color: white;
        padding: 9px;
        font-size: 11px;
    }
    .contact_form textarea {
        width: 100%;
        overflow: hidden;
        height: 28px;
        background: none;
        border: solid 1px;
        margin-top: 9px;
        border-radius: 5px;
        color: white;
        padding: 9px;
        font-size: 11px;
    }
    .contact_form select {
        width: 100%;
        overflow: hidden;
        height: 28px;
        background: none;
        border: solid 1px;
        margin-top: 9px;
        border-radius: 5px;
        color: white;
        padding: 4px;
        font-size: 11px;
    }
    .contact_form input[type="submit"] {
        width: 59%;
        line-height: 28px;
        font-size: 12px;
        color: white;
        background: #F50078;
        border: none;
        margin-top: 18px;
        border-radius: 5px;
        text-transform: uppercase;
        margin-bottom: 34px;
    }
    .date_title {
        font-size: 44px;
    }
    .footer_title {
        font-size: 25px;
    }
    .footer_social li a {
        font-size: 16px;
    }
    .footer_social li {
        padding: 12px;
    }
    .footer_social {
        width: 100%;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .navbar-collapse {
        width: 115px;
        background: white;
        position: absolute;
        left: 36%;
        top: 91%;
        z-index: 99999;
    }
    #clockdiv {
        width: 100%;
    }
    .counter_part {
        padding: 6px 19px;
    }
    .banner_text {
        padding-top: 16%;
    }
    #clockdiv div > span {
        font-size: 53px;
    }
    .smalltext {
        font-size: 18px;
    }
    h3.banner_title {
        font-size: 50px;
        line-height: 25px;
    }
    .section_title:after {
        left: 27%;
    }
    .section_titles:after {
        left: 24%;
    }
    .bg_social-area {
        width: 62%;
    }
    .timeline ul li {
        margin-left: -25px;
    }
    .timeline ul li div {
        width: calc(100vw - 100px);
    }
    .timeline ul li:nth-child(even) div {
        left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #F45B69 transparent transparent;
    }
    .single_people {
        width: 80%;
        margin: 3px auto;
        max-height: 212px;
        min-width: 210px;
        max-width: 210px;
        position: relative;
    }
    a.left.carousel-control i {
        top: 40%;
        position: absolute;
        color: black;
        font-size: 94px;
        left: -58px;
    }
    ul.social_icon {
        width: 100%;
        text-align: left;
        margin-left: 0;
    }
    .single_people:hover .people_down {
        position: absolute;
        background: rgba(212, 41, 119, 0.8);
        width: 195px;
        height: 206px;
        color: white;
        opacity: 1;
        transition: opacity 0.50s ease;
        padding: 10px;
        margin: 0 auto;
        left: 3.7%;
        top: 2%;
    }
    .p_border {
        border: solid 1px;
        width: 100%;
        overflow: hidden;
        height: 100%;
        padding-top: 56px;
    }
    h4.peplename {
        font-size: 21px;
    }
    ul.social_icon li a {
        font-size: 26px;
        color: white;
    }
    ul.social_icon li {
        float: left;
        margin-left: 14px;
    }
    .g_border {
        width: 100%;
        height: 100%;
        border: white solid 1px;
        font-size: 34px;
        color: white;
        padding-top: 161px;
    }
    .contact_form {
        width: 72%;
        background-size: 100% 100%;
        padding: 34px;
    }
    .footer_social {
        width: 73%;
    }
    .ga-overlay {
        opacity: 0;
        position: absolute;
        width: 95%;
        top: 8px;
        height: 96%;
        padding: 10px;
        transition: opacity 0.50s ease;
        background: rgba(212, 41, 119, 0.8);
    }
    img.gift_logo {
        width: 66%;
    }
}