/* Author: Kamrul Hasan */
/* Feel free to use the quickstart pack */
/* email: kamrulhasanshuvo@outlook.com */

/* core CSS */


html,
body { height: 100%;font-family: 'Raleway', sans-serif; }
body {

}
.no-padding {
    padding: 0px;
}
a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    
	text-decoration:none;
	
}
a:hover { text-decoration: none }
a:focus { outline: 0 solid }
.text-center{text-align:center}
.float-left{float:left}
.float-right{float:right}
p{font-size:16px}
h1,h2,h3,h4,h5,h6{font-weight:700;font-family: 'Exo 2', sans-serif;text-transform:uppercase}
ul{list-style:none;}
.section_title {
    font-size: 36px;
    
    font-weight: 800;text-transform:uppercase
    
}
.progress {
    height: 14px;overflow: visible!important;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #E1E1E1;
    border-radius: 29px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: none;    margin-top: 37px;
}
.progress-bar {
    background-color: #F7941D!important;
    border-radius: 22px;
    box-shadow: none!important;
    width: 100%;
    height: 14px;
    position: relative;
}
p.bar-text {
    color: white;
    background: #F7941D;
    width: 44px;
    padding: 4px;
    border-radius: 16px;
    top: -33px;
    position: absolute;
    font-size: 13px;
    right: 0px;
}





.section-border {
    width: auto;
    margin: 0 auto;
    display: block;
    margin-bottom: 27px;
}
.slider_area {
    width: 100%;
}
.slider_area img{
    width: 100%;
}

section{padding-top:40px;padding-bottom:40px}

/* Header Area */
#header-area {
    padding: 0px;
}
.top_bar {
    
    color: white;
    height: 34px;    overflow: hidden;
}
.social-area ul li a {
    color: white;
    padding: 11px;
    font-size: 15px;
}
.top_bar .container {
    padding: 0px;
}
.social-area ul{padding:0; margin-top: -4px;
}
.header_contact  a {
    font-size: 14px;

    color: white;
    font-weight: 500;
}
.header_contact p {
    margin-top: 6px;
}
.main-menu li a {
   font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: white!important;
    padding: 23px 14px;
}

.main-menu li {
    padding: 6px;
}
.main-menu ul {
    height: 75px
}
.main-menu {
    background: rgba(231, 76, 60,.9);
    z-index: 999999999!important;
}
.main_menu {
    height: 79px;
  z-index: 999999999!important;
    width: 100%;
    overflow: visible;
    background: rgba(231, 76, 60,1.0);transition: background .5s;
}
.main_menu nav.navbar.navbar-default {
    background: none;
    border: none;
}
.dropdown-menu {
   
    height: auto!important;
}
.dropdown-menu li {
    padding: 0px;
}
.dropdown-menu li a {
        text-align: center;
    padding: 10px 1px;
    border-bottom:none;
    color: white!important;
}
.dropdown-menu li a:hover {
        text-align: center;
    padding: 10px 1px;
    border-bottom: none;
    color: white!important;
    background:none
}

.logo {
    margin: -4px;
}
li.donate_button {
    height: 33px;
   
    overflow: hidden;
    padding: 0px;
    margin-top: 21px;
    border-radius: 17px;
    margin-left: 10px;
}
li.donate_button a {
    padding: 6px 33px;
    color: white!important;
    font-size: 14px;
}
li.donate_button a:hover {
    padding: 6px 33px;
    color: white!important;
    font-size: 14px;border:none;
}
.section-header {
    font-size: 38px;
}
.section-subheader {
    margin-bottom: 56px;
}
.single-demo {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.demo-overlay {
    width: 100%;
    background: rgba(231, 76, 60,.8);
    position: absolute;
    height: 100%;
    top: 0px;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity .8s;
    text-align: center;
}
.single-demo img {
    width: 100%;
    align-items: center;
}
.single-demo:hover .demo-overlay{opacity: 1}
.demo-overlay a {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    background: rgba(44, 62, 80,1.0);
    color: white;
    padding: 18px 0px;
}
.demo-overlay a {
    text-align: center;
    /* width: 200px; */
    margin: 0 auto;
    background: rgba(44, 62, 80,1.0);
    color: white;
    padding: 22px 42px;
}
.demo-button {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}
.single-feature {
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
    display: inline-block;
}
.feature-detail h3 {
    margin-top: 90px;
}

.other-features {
    width: 100%;
    overflow: hidden;
    
}
.o-s-f {
    
    padding: 21px;
    text-align: center;
    min-width: 150px;
    
    margin: 27px;    background: white;
}
.o-s-f img {
    width: 63px;
    height: 63px;
}
.o-s-f p {
    margin-top: 10px;
}
#feature-area {
    background: rgba(236, 240, 241,1.0);
}
.o-s-f:hover {
    box-shadow: 0px 2px 5px #888888;
    transition: box-shadow .2s;
}
#cta-area {
    background: rgba(231, 76, 60,.9);
    padding-top: 150px;
    padding-bottom: 150px;
    color: white;
    text-align: center;
}

.cta-button {
    background: rgba(44, 62, 80,1.0);
    padding: 16px 18px;
    width: 196px;
    color: white;
    font-weight: normal;
    font-size: 21px;
    text-transform: uppercase;
    margin: 0px auto;
}
.cta-title {
    font-size: 48px;
    margin-bottom: 30px;
}
.cta img {
    width: 190px;
    margin: 32px auto;
    display: block;
}
#footer-area {
    background: rgba(44, 62, 80,1.0);
    text-align: center;
    color: white;
}
.logo-text {
    font-size: 41px;
    padding: 0px;
    margin: 0px;
    color: white;
}

.fixed-header {
  position: fixed;
  top:0; left:0;
  width: 100%;     z-index: 9999;background: rgba(231, 76, 60,.9);transition: background .5s;
}

.buy_button a {
    border: 2px solid white;
    padding: 12px 24px!important;
    margin-top: 9px;
}

@media only screen and (max-width:767px){
    .main-menu li a {
    font-family: 'Exo 2', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    color: white!important;
    padding: 0px 14px;
    text-align: center;
}
    .single-demo {
    margin-top: 41px;
}
    
    .cta-title {
    font-size: 36px;
    margin-bottom: 30px;
}
}